$white-color: #FFF;
$background-color:#F0F1F1;
$brown-color: #5E5322;
$important-color: #FAD648;
$line-color: #737373;
$base-color: #3C3C3C;
$warning-color: #F00;
$success-color: #080;
$black-color: #000;
