.header {
	height: 100vh;
	display: flex;
}
.header-left-column{
	height: 100vh;
	width: 48vw;
	min-width: 430px;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	img {
		height: 100vh;
		width: auto;
		left: -20%;
	}
}
.header-right-column {
	height: 100vh;
	width: 47vw;
	min-width: 420px;
	font-family: $font-base;
	color: $base-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	.header-right-column-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	h1 {
		font-size: 28px;
		color: $base-color;
		text-align: center;
		margin-top: 150px;
	}
	img {
		margin: 25px auto;
	}
	.header-buttons {
		display: flex;
		justify-content: space-around;
		div {
			width: 310px;
			height: 120px;
			background-color: white;
			font-size: 26px;
			color: $base-color;
			text-transform: uppercase;
			font-weight: 300;
			border: 0.75px solid $base-color;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			a {
				text-decoration: none;
				color: $base-color;
			}
		}
	}
}
.active-bottom-menu {
	border: 0.75px solid $base-color;
}
@media(max-width: 750px) {
	.header {
		flex-wrap: wrap-reverse;
		height: auto;
		.header-left-column{
			height: auto;
			width: 100vw;
			background-size: cover;
			display: flex;
			justify-content: flex-end;
			img {
				height: 100vh;
				width: auto;
			}
		}
		.header-right-column {
			width: 100vw;
			.header-right-column-content {
				margin: 0 auto;
				width: 70vw;
				justify-content: center;
			}
		}
	}
}