.form-top {
	height: 100vh;
	display: flex;
	.form-top-left-column {
		width: 48vw;
		min-width: 430px;
		background-size: cover;
		display: flex;
		img {
			height: 100vh;
			width: auto;
		}
	}
	.form-top-right-column {
		width: 47vw;
		min-width: 420px;
		font-family: $font-base;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2 {
			font-size: 28px;
			line-height: 38px;
			color: $base-color;
			text-align: center;
		}
		img {
			margin: 25px 0 40px 0;
		}
		h3 {
			font-size:28px;
			font-weight: 300;
			text-align: center;
			margin-bottom: 60px;
		}
		.form-top-four-stats {
			display: flex;
			justify-content: center;
			div {
				font-size:18px;
				font-weight: 300;
				display: flex;
				text-align: center;
				flex-direction: column;
				width: 110px;
				position: relative;
				margin: 0 7px;
				span {
					font-size:25px;
					font-weight: 300;
					margin-bottom: 10px;
				}
				&::before {
					content: '';
					display: block;
					height: 100px;
					width: 100px;
					transform: rotate(45deg);
					border: 1px solid $line-color;
					position: absolute;
					left: 3px;
				}
			}
		}
	}
}
@media(max-width: 750px) {
	.form-top {
		height: auto;
		flex-wrap: wrap-reverse;
		justify-content: center;
		.form-top-right-column {
			height: 100vh;
			.form-top-four-stats {
				div {
					font-size: 12px;
					&::before {
						width: 80px;
						height: 80px;
						left: 15px;
					}
				}
			}
		}
		.form-top-left-column {
			width: 100vw;
			img {
				width: 100vw;
				height: auto;
			}
		}
	}
}