.content-step-four {
	display: flex;
	flex-direction: row;
	.step-four-column {
		display: flex;
		flex-direction: column;
		width: auto;
		margin-right: 50px;
		label {
			width: 250px;
			display: flex;
			justify-content: space-between;
			textarea {
				height: 90px;
				font-family: $font-base;
				color:$base-color;
				font-size: 14px;
				background-color: rgba(0,0,0,0);
				border: 1px solid $base-color;
				padding: 5px;
			}
		}
	}
}