body {
	font-family: $font-base;
}

.top-menu {
	display: flex;
	
	li {
		list-style: none;
	}

	a {
		text-decoration: none;
		margin: 10px;
		padding: 10px;
	}
}


.active-top-menu {
	border: 1px solid blue;
}

.bottom-menu {
	display: flex;
	
	li {
		list-style: none;
	}

	a {
		text-decoration: none;
		margin: 10px;
		padding: 10px;
	}
}