.footer {
	width: 90vw;
	font-family: $font-base;
	font-size: 18px;
	display: flex;
	margin: 0 auto 22px;
	z-index: 1;
	position: relative;
	bottom: 0;
	justify-content: center;
	div {
		justify-items: flex-end;
		position: absolute;
		right: 20px;
		img {
			height: 18px;
			width: auto;
			margin-right: 10px;
		}
	}
}
@media(max-width: 750px) {
	.footer {
		bottom: -150px;
		margin: 0 auto 20px;
		height: 20px;
	}
}