$margin-right: 5vw;
.top-menu {
	position: absolute;
	top: 37px;
	padding-right: $margin-right;
	right: 0;
	display: flex;
	justify-content: flex-end;
	font-family: $font-base;
	z-index: 1;
	text-align: right;
	width: auto;
	li {
		list-style: none;
		width: auto;
		a {
			text-decoration: none;
			margin: 10px;
			padding: 9px 10px;
			color: $base-color;
			font-size: 13px;
		}
		.email {
			background-color: red;
			right: calc(500px + 5vw);
		}
	}
}
.active-top-menu {
	border: 0.75px solid $important-color;
}